@import "./css/style.css" ;

p {
    line-height: 2;
}


p.cherry{
    font-family: cherry;
}
p.gantgaw{
    font-family: gantgaw;
}
p.asmine{
    font-family: jasmine;
}
p.kt02{
    font-family: kt02;
}
p.kt03{
    font-family: kt03;
}
p.masterpiece{
    font-family: masterpiece;
}
p.mon3{
    font-family: mon3;
}
p.mm3-2011{
    font-family: mm3-2011;
}
p.mm3-multi-os{
    font-family: mm3-multi-os;
}
p.mm3h{
    font-family: mm3h;
}
p.mm3-paoh{
    font-family: mm3-paoh;
}
p.myanmarangoun{
    font-family: myanmarangoun;
}
p.myanmarblack{
    font-family: myanmarblack;
}
p.myanmarcensus{
    font-family: myanmarcensus;
}
p.myanmargantgaw{
    font-family: myanmargantgaw;
}
p.myanmarkhway{
    font-family: myanmarkhway;
}
p.myanmarkuttar{
    font-family: myanmarkuttar;
}
p.myanmarnayone{
    font-family: myanmarnayone;
}
p.myanmarpaohone{
    font-family: myanmarpaohone;
}
p.myanmarnjaun{
    font-family: myanmarnjaun;
}
p.myanmarpaohrosemary{
    font-family: myanmarpaohrosemary;
}
p.myanmarpauklay{
    font-family: myanmarpauklay;
}
p.myanmarphetsot{
    font-family: myanmarphetsot;
}
p.myanmarpixel{
    font-family: myanmarpixel;
}
p.myanmarpixelsmooth{
    font-family: myanmarpixelsmooth;
}
p.myanmarponenyet{
    font-family: myanmarponenyet;
}
p.myanmarpunk{
    font-family: myanmarpunk;
}
p.myanmarrosemarry{
    font-family: myanmarrosemarry;
}
p.myanmarsabae{
    font-family: myanmarsabae;
}
p.myanmarsagar{
    font-family: myanmarsagar;
}
p.myanmarsanspro{
    font-family: myanmarsanspro;
}
p.myanmarsquare{
    font-family: myanmarsquare;
}
p.myanmarsquarelight{
    font-family: myanmarsquarelight;
}
p.myanmartagu{
    font-family: myanmartagu;
}
p.myanmartaungyi{
    font-family: myanmartaungyi;
}
p.myanmartext{
    font-family: myanmartext;
}
p.myanmartextbold{
    font-family: myanmartextbold;
}
p.myanmartextmelano{
    font-family: myanmartextmelano;
}
p.myanmarthuriya{
    font-family: myanmarthuriya;
}
p.myanmarthuriyavolt{
    font-family: myanmarthuriyavolt;
}
p.myanmarinmar{
    font-family: myanmarinmar;
}
p.namkhon-web-pro{
    font-family: namkhon-web-pro;
}
p.namkhon-unicode{
    font-family: namkhon-unicode;
}