@import "./css/style.css" ;

p {
    line-height: 2;
    text-align: justify;
}


p.cherry{
    font-family: cherry;
}
p.gantgaw{
    font-family: gantgaw;
}
p.asmine{
    font-family: jasmine;
}
p.kt02{
    font-family: kt02;
}
p.kt03{
    font-family: kt03;
}
p.masterpiece{
    font-family: masterpiece;
}
p.mon3{
    font-family: mon3;
}
p.mm3-2011{
    font-family: mm3-2011;
}
p.mm3-multi-os{
    font-family: mm3-multi-os;
}
p.mm3h{
    font-family: mm3h;
}
p.mm3-paoh{
    font-family: mm3-paoh;
}
p.myanmarangoun{
    font-family: myanmarangoun;
}
p.myanmarblack{
    font-family: myanmarblack;
}
p.myanmarcensus{
    font-family: myanmarcensus;
}
p.myanmargantgaw{
    font-family: myanmargantgaw;
}
p.myanmarkhway{
    font-family: myanmarkhway;
}
p.myanmarkuttar{
    font-family: myanmarkuttar;
}
p.myanmarnayone{
    font-family: myanmarnayone;
}
p.myanmarpaohone{
    font-family: myanmarpaohone;
}
p.myanmarnjaun{
    font-family: myanmarnjaun;
}
p.myanmarpaohrosemary{
    font-family: myanmarpaohrosemary;
}
p.myanmarpauklay{
    font-family: myanmarpauklay;
}
p.myanmarphetsot{
    font-family: myanmarphetsot;
}
p.myanmarpixel{
    font-family: myanmarpixel;
}
p.myanmarpixelsmooth{
    font-family: myanmarpixelsmooth;
}
p.myanmarponenyet{
    font-family: myanmarponenyet;
}
p.myanmarpunk{
    font-family: myanmarpunk;
}
p.myanmarrosemarry{
    font-family: myanmarrosemarry;
}
p.myanmarsabae{
    font-family: myanmarsabae;
}
p.myanmarsagar{
    font-family: myanmarsagar;
}
p.myanmarsanspro{
    font-family: myanmarsanspro;
}
p.myanmarsquare{
    font-family: myanmarsquare;
}
p.myanmarsquarelight{
    font-family: myanmarsquarelight;
}
p.myanmartagu{
    font-family: myanmartagu;
}
p.myanmartaungyi{
    font-family: myanmartaungyi;
}
p.myanmartext{
    font-family: myanmartext;
}
p.myanmartextbold{
    font-family: myanmartextbold;
}
p.myanmartextmelano{
    font-family: myanmartextmelano;
}
p.myanmarthuriya{
    font-family: myanmarthuriya;
}
p.myanmarthuriyavolt{
    font-family: myanmarthuriyavolt;
}
p.myanmarinmar{
    font-family: myanmarinmar;
}
p.namkhon-web-pro{
    font-family: namkhon-web-pro;
}
p.namkhon-unicode{
    font-family: namkhon-unicode;
}
p.namkhon-grand{
    font-family: namkhon-grand;
}
p.namkhon-smart2{
    font-family:namkhon-smart2;
}
p.namkhon-smart3{
    font-family: namkhon-smart3;
}
p.namkhon-smart4{
    font-family: namkhon-smart4;
}
p.notosansmyanmar{
    font-family: notosansmyanmar;
}
p.notosansmyanmarbold{
    font-family: notosansmyanmarbold;
}
p.notosansmyanmaruiregular{
    font-family: notosansmyanmaruiregular;
}
p.notosansmyanmaruibold{
    font-family: notosansmyanmaruibold;
}
p.padauk{
    font-family: padauk;
}
p.padaukbold{
    font-family: padaukbold;
}
p.padaukbook{
    font-family: padaukbook;
}
p.padaukbookbold{
    font-family: padaukbookbold;
}
p.padaukzawgyi{
    font-family: padaukzawgyi;
}
p.padaukghost{
    font-family: padaukghost;
}
p.padaukghostv2{
    font-family: padaukghostv2;
}
p.padaukaungchikote{
    font-family: padaukaungchikote;
}
p.padauksagar{
    font-family: padauksagar;
}
p.padauksgaw{
    font-family: padauksgaw;
}
p.padauksgawbold{
    font-family: padauksgawbold;
}
p.padauksgawbook{
    font-family: padauksgawbook;
}
p.padauksgawbookbold{
    font-family: padauksgawbookbold;
}
p.panglong{
    font-family: panglong;
}
p.paohDragon{
    font-family: paohDragon;
}
p.parabaik2{
    font-family: parabaik2;
}
p.parabaik3{
    font-family: parabaik3;
}
p.pyidaungsu{
    font-family: pyidaungsu;
}
p.pyidaungsu1-2{
    font-family: pyidaungsu1-2;
}
p.pyidaungsu1-3{
    font-family: pyidaungsu1-3;
}
p.samsungmyanmar{
    font-family: samsungmyanmar;
}
p.shanunicode{
    font-family: shanunicode;
}
p.thanlwin{
    font-family: thanlwin;
}
p.tharlon{
    font-family: tharlon;
}
p.winuni-innwa{
    font-family: winuni-innwa;
}
p.yoeyar-one-bold{
    font-family: yoeyar-one-bold;
}
p.yoeyar-one-light{
    font-family: yoeyar-one-light;
}
p.yoeyar-one-regular{
    font-family: yoeyar-one-regular;
}
p.yunghkio{
    font-family: yunghkio;
}

/* -----------------cloud animation---------------------------------- */
#banner {
    background-image: linear-gradient(120deg, #91C4FF 0%, #F0F7FF 87%);
    position: relative;
    width: 100%;
    height: 950px;
  }
  
  #cloud-scroll {
    background: url(http://9a2e1a2047765d2a004e-e6d2db425d8d4f2619e5cee56a48bcef.r55.cf2.rackcdn.com/clouds.png) repeat-x;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    -webkit-animation: 900000s backgroundScroll infinite linear;
    -moz-animation: 900000s backgroundScroll infinite linear;
    -o-animation: 900000s backgroundScroll infinite linear;
    -ms-animation: 900000s backgroundScroll infinite linear;
    animation: 900000s backgroundScroll infinite linear;
  }
  
  @-webkit-keyframes backgroundScroll {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -99999999px 0;
    }
  }
  
  @keyframes backgroundScroll {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -99999999px 0;
    }
  }

  /* ---------------------------docs---------------------------------------------- */
  #docs{
      background-color: #ffffff;
      padding: 10px;
      font-family: pyidaungsu1-3;
  }
  /* Methods */
.method .header, .method .cell {
    padding: 6px 6px 6px 10px; }
  .method .list-header .header {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #999;
    background-color: #eee; }
  .method [class^="row"],
  .method [class*=" row"] {
    border-bottom: 1px solid #ddd; }
    .method [class^="row"]:hover,
    .method [class*=" row"]:hover {
      background-color: #f7f7f7; }
  .method .cell {
    font-size: 0.85em; }
    .method .cell .mobile-isrequired {
      display: none;
      font-weight: normal;
      text-transform: uppercase;
      color: #aaa;
      font-size: 0.8em; }
    .method .cell .propertyname {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .method .cell .type {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .method .cell code {
      color: #428bca; }
    .method .cell a, .method .cell a:hover {
      text-decoration: none; }
    .method .cell code.custom {
      color: #8a6d3b;
      text-decoration: none; }
    .method .cell .text-muted {
      color: #ddd; }

  @media (max-width: 991px) {
    .method [class^="row"],
    .method [class*=" row"] {
      padding-top: 10px;
      padding-bottom: 10px; }
    .method .cell {
      padding: 0 10px; }
      .method .cell .propertyname {
        font-weight: normal;
        font-size: 1.2em; }
        .method .cell .propertyname .lookuplink {
          font-weight: normal;
          font-size: 1.5em;
          position: absolute;
          top: 0;
          right: 10px; }
      .method .cell .type {
        padding-left: 10px;
        font-size: 1.1em; }
      .method .cell .isrequired {
        padding-left: 10px;
        display: none; }
      .method .cell .description {
        padding-left: 10px; }
      .method .cell .mobile-isrequired {
        display: inline; } 
    }
  
  
  /* Row Utilities */
  [class^='row'].margin-0,
  [class*=' row'].margin-0,
  [class^='form-group'].margin-0,
  [class*=' form-group'].margin-0 {
    margin-left: -0px;
    margin-right: -0px; }
    [class^='row'].margin-0 > [class^='col-'],
    [class^='row'].margin-0 > [class*=' col-'],
    [class*=' row'].margin-0 > [class^='col-'],
    [class*=' row'].margin-0 > [class*=' col-'],
    [class^='form-group'].margin-0 > [class^='col-'],
    [class^='form-group'].margin-0 > [class*=' col-'],
    [class*=' form-group'].margin-0 > [class^='col-'],
    [class*=' form-group'].margin-0 > [class*=' col-'] {
      padding-right: 0px;
      padding-left: 0px; }
    [class^='row'].margin-0 [class^='row'],
    [class^='row'].margin-0 [class*=' row'],
    [class^='row'].margin-0 [class^='form-group'],
    [class^='row'].margin-0 [class*=' form-group'],
    [class*=' row'].margin-0 [class^='row'],
    [class*=' row'].margin-0 [class*=' row'],
    [class*=' row'].margin-0 [class^='form-group'],
    [class*=' row'].margin-0 [class*=' form-group'],
    [class^='form-group'].margin-0 [class^='row'],
    [class^='form-group'].margin-0 [class*=' row'],
    [class^='form-group'].margin-0 [class^='form-group'],
    [class^='form-group'].margin-0 [class*=' form-group'],
    [class*=' form-group'].margin-0 [class^='row'],
    [class*=' form-group'].margin-0 [class*=' row'],
    [class*=' form-group'].margin-0 [class^='form-group'],
    [class*=' form-group'].margin-0 [class*=' form-group'] {
      margin-left: 0;
      margin-right: 0; }
