
<!-- ------------------------------------------------------------------------------------------------------------------------------>
        <div class="row" style="padding-top: 5px;">
            <div class="col-md-6 content">

                <div class="panel panel-default">
                    <div class="panel-heading">

                        <div class="row">
                            <div class="col col-sm-6 text-bold">
                                1. Cherry Unicode
                            </div>
                            <div class="col col-sm-6 text-right">
                                <a href="#">Download</a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="panel-body">
                        <p class="cherry">

                            ရေသည်ပြဇာတ်
                            ---------
                            ဂင်္ဂါမာလပြဇာတ် (သို့) ရေသည်ပြဇာတ် သည် ကုန်းဘောင်ခေတ်နှောင်းတွင် ပေါ်ထွန်းခဲ့သော စာဆိုပညာရှိ
                            စလေ ဦးပုည၏ ထင်ရှားကျော်ကြားသော ပြဇာတ် တစ်ပုဒ်ဖြစ်သည်။ ဤပြဇာတ်သည် အဋ္ဌနိပါတ် တွင်ပါရှိသော
                            ဂင်္ဂါမာလဇာတ်တော် မှထုတ်နှုတ်ရေးသားထားခြင်းလည်းဖြစ်သည်။ ငါးရာ့ငါးဆယ်ဇာတ်နိပါတ် တွင် (၄၂၁)
                            ပုဒ်မြောက်ဖြစ်သည်။[၁] ကနောင်မင်းသားက မင်းတုန်းမင်းအပေါ် အထင်မြင်လွဲမှားစိတ်ကွက်မှုကို
                            နောင်တရ၍ ကျေးဇူးသိတတ်သူတစ်ဦးအဖြစ် ကနောင်မင်းသားက စာဆိုဦးပုညကို ရေးသားတင်သွင်းစေခဲ့သည်။
                            ဦးပုညရေးသော ဤပြဇာတ်မှာ ပြဇာတ်တိုတစ်ပုဒ်ဖြစ်၍ တစ်ညအတွင်းကပြဖြေဖျော်နိုင်သော
                            အမျိုးအစားလည်းဖြစ်၏ ။ မြန်မာ့ပြဇာတ်စာပေ အပေါ်တွင်အလွန်ဩဇာညောင်းကာ ထိုအထဲ၌ပါရှိသော
                            ဘာသာစကားဝေါဟာရ အသုံးအနှုန်းများသည် ပြဇာတ်စာပေတွင်သာမက အခြားမြန်မာစာပေအမျိုးအစားများ
                            အပေါ်တွင်လည်း ကောင်းစွာလွှမ်းမိုးနိုင်သည်။
                            ရေသည်ပြဇာတ်သည် ဦးပုညရေးသားသော အကောင်းဆုံးပြဇာတ်များထဲကတစ်ခုဖြစ်သည်။ စာရေးဆရာသည် ဟာသဉာဏ်၊
                            ဇဝနဉာဏ် ရွှင်သည့်အလျှောက် ၎င်းရေးသားသော ပြဇာတ်များ၌ ဖတ်သူ၊ နားထောင်သူ၊ ကြည့်ရှုသူများ
                            စိတ်နှလုံးချမ်းမြေ့စေရန် အရယ်အရွှန်းများကို ပေါင်းစပ်ထည့်လေ့ရှိသည်။ ရေသည်ပြဇာတ်၏
                            ရည်ရွယ်ချက်မှာ လောဘတရားတို့၏ ဖျက်ဆီးတတ်ခြင်းသဘော၊ ကျေးဇူးရှင်ကို
                            ကျေးဇူးသိတတ်ခြင်းသဘောများပါဝင်သည်။
                        <p class="cherry">
                            Too much knowledge make up fool
                            -------------------------------
                            Once upon a time, there were four youths studying under the famous professor Disaparmauk of
                            Taxila. They all came of rich families from different lands. Each followed his natural bent
                            and specialized in different branches of study. One studied music and dancing; another
                            studied medicine; another studied astrology; and the fourth, philosophy.
                            After studying for three years they were considered proficient in their respective subject,
                            and the time came to say good-bye to their professor and return to their respective parents.
                            As a parting gift the professor gave them a cooking pot, as well as some grain, in order
                            that they would have something to cook and eat should their dry rations runs out before they
                            reached home.
                        </p>

                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 content">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <div class="row">
                            <div class="col col-sm-6 text-bold">
                                2. Gantgaw Unicode 
                            </div>
                            <div class="col col-sm-6 text-right">
                                <a href="#">Download</a>
                            </div>
                        </div>

                        
                    </div>
                    <div class="panel-body">
                        <p class="gantgaw">

                            ရေသည်ပြဇာတ်
                            ---------
                            ဂင်္ဂါမာလပြဇာတ် (သို့) ရေသည်ပြဇာတ် သည် ကုန်းဘောင်ခေတ်နှောင်းတွင် ပေါ်ထွန်းခဲ့သော
                            စာဆိုပညာရှိ
                            စလေ ဦးပုည၏ ထင်ရှားကျော်ကြားသော ပြဇာတ် တစ်ပုဒ်ဖြစ်သည်။ ဤပြဇာတ်သည် အဋ္ဌနိပါတ် တွင်ပါရှိသော
                            ဂင်္ဂါမာလဇာတ်တော် မှထုတ်နှုတ်ရေးသားထားခြင်းလည်းဖြစ်သည်။ ငါးရာ့ငါးဆယ်ဇာတ်နိပါတ် တွင်
                            (၄၂၁)
                            ပုဒ်မြောက်ဖြစ်သည်။[၁] ကနောင်မင်းသားက မင်းတုန်းမင်းအပေါ် အထင်မြင်လွဲမှားစိတ်ကွက်မှုကို
                            နောင်တရ၍ ကျေးဇူးသိတတ်သူတစ်ဦးအဖြစ် ကနောင်မင်းသားက စာဆိုဦးပုညကို ရေးသားတင်သွင်းစေခဲ့သည်။
                            ဦးပုညရေးသော ဤပြဇာတ်မှာ ပြဇာတ်တိုတစ်ပုဒ်ဖြစ်၍ တစ်ညအတွင်းကပြဖြေဖျော်နိုင်သော
                            အမျိုးအစားလည်းဖြစ်၏ ။ မြန်မာ့ပြဇာတ်စာပေ အပေါ်တွင်အလွန်ဩဇာညောင်းကာ ထိုအထဲ၌ပါရှိသော
                            ဘာသာစကားဝေါဟာရ အသုံးအနှုန်းများသည် ပြဇာတ်စာပေတွင်သာမက အခြားမြန်မာစာပေအမျိုးအစားများ
                            အပေါ်တွင်လည်း ကောင်းစွာလွှမ်းမိုးနိုင်သည်။
                            ရေသည်ပြဇာတ်သည် ဦးပုညရေးသားသော အကောင်းဆုံးပြဇာတ်များထဲကတစ်ခုဖြစ်သည်။ စာရေးဆရာသည် ဟာသဉာဏ်၊
                            ဇဝနဉာဏ် ရွှင်သည့်အလျှောက် ၎င်းရေးသားသော ပြဇာတ်များ၌ ဖတ်သူ၊ နားထောင်သူ၊ ကြည့်ရှုသူများ
                            စိတ်နှလုံးချမ်းမြေ့စေရန် အရယ်အရွှန်းများကို ပေါင်းစပ်ထည့်လေ့ရှိသည်။ ရေသည်ပြဇာတ်၏
                            ရည်ရွယ်ချက်မှာ လောဘတရားတို့၏ ဖျက်ဆီးတတ်ခြင်းသဘော၊ ကျေးဇူးရှင်ကို
                            ကျေးဇူးသိတတ်ခြင်းသဘောများပါဝင်သည်။
                        <p class="gantgaw">
                            Too much knowledge make up fool
                            -------------------------------
                            Once upon a time, there were four youths studying under the famous professor Disaparmauk
                            of
                            Taxila. They all came of rich families from different lands. Each followed his natural
                            bent
                            and specialized in different branches of study. One studied music and dancing; another
                            studied medicine; another studied astrology; and the fourth, philosophy.
                            After studying for three years they were considered proficient in their respective
                            subject,
                            and the time came to say good-bye to their professor and return to their respective
                            parents.
                            As a parting gift the professor gave them a cooking pot, as well as some grain, in order
                            that they would have something to cook and eat should their dry rations runs out before
                            they
                            reached home.
                        </p>

                        </p>
                    </div>
                </div>
            </div>

        </div>

        <!-- ----------------------------------------------------------------------------------------------------------------------->


<!-- ---------------------------------------------------------------------------------------------------------------------------- -->
<div class="row" style="padding-top: 5px;">
    <div class="col-md-6 content">

        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="row">
                    <div class="col col-sm-6 text-bold">
                        3. Jsmine Unicode
                    </div>
                    <div class="col col-sm-6 text-right">
                        <a href="#">Download</a>
                    </div>
                </div>
                
            </div>
            <div class="panel-body">
                <p class="asmine">

                    ရေသည်ပြဇာတ်
                    ---------
                    ဂင်္ဂါမာလပြဇာတ် (သို့) ရေသည်ပြဇာတ် သည် ကုန်းဘောင်ခေတ်နှောင်းတွင် ပေါ်ထွန်းခဲ့သော စာဆိုပညာရှိ
                    စလေ ဦးပုည၏ ထင်ရှားကျော်ကြားသော ပြဇာတ် တစ်ပုဒ်ဖြစ်သည်။ ဤပြဇာတ်သည် အဋ္ဌနိပါတ် တွင်ပါရှိသော
                    ဂင်္ဂါမာလဇာတ်တော် မှထုတ်နှုတ်ရေးသားထားခြင်းလည်းဖြစ်သည်။ ငါးရာ့ငါးဆယ်ဇာတ်နိပါတ် တွင် (၄၂၁)
                    ပုဒ်မြောက်ဖြစ်သည်။[၁] ကနောင်မင်းသားက မင်းတုန်းမင်းအပေါ် အထင်မြင်လွဲမှားစိတ်ကွက်မှုကို
                    နောင်တရ၍ ကျေးဇူးသိတတ်သူတစ်ဦးအဖြစ် ကနောင်မင်းသားက စာဆိုဦးပုညကို ရေးသားတင်သွင်းစေခဲ့သည်။
                    ဦးပုညရေးသော ဤပြဇာတ်မှာ ပြဇာတ်တိုတစ်ပုဒ်ဖြစ်၍ တစ်ညအတွင်းကပြဖြေဖျော်နိုင်သော
                    အမျိုးအစားလည်းဖြစ်၏ ။ မြန်မာ့ပြဇာတ်စာပေ အပေါ်တွင်အလွန်ဩဇာညောင်းကာ ထိုအထဲ၌ပါရှိသော
                    ဘာသာစကားဝေါဟာရ အသုံးအနှုန်းများသည် ပြဇာတ်စာပေတွင်သာမက အခြားမြန်မာစာပေအမျိုးအစားများ
                    အပေါ်တွင်လည်း ကောင်းစွာလွှမ်းမိုးနိုင်သည်။
                    ရေသည်ပြဇာတ်သည် ဦးပုညရေးသားသော အကောင်းဆုံးပြဇာတ်များထဲကတစ်ခုဖြစ်သည်။ စာရေးဆရာသည် ဟာသဉာဏ်၊
                    ဇဝနဉာဏ် ရွှင်သည့်အလျှောက် ၎င်းရေးသားသော ပြဇာတ်များ၌ ဖတ်သူ၊ နားထောင်သူ၊ ကြည့်ရှုသူများ
                    စိတ်နှလုံးချမ်းမြေ့စေရန် အရယ်အရွှန်းများကို ပေါင်းစပ်ထည့်လေ့ရှိသည်။ ရေသည်ပြဇာတ်၏
                    ရည်ရွယ်ချက်မှာ လောဘတရားတို့၏ ဖျက်ဆီးတတ်ခြင်းသဘော၊ ကျေးဇူးရှင်ကို
                    ကျေးဇူးသိတတ်ခြင်းသဘောများပါဝင်သည်။
                <p class="asmine">
                    Too much knowledge make up fool
                    -------------------------------
                    Once upon a time, there were four youths studying under the famous professor Disaparmauk of
                    Taxila. They all came of rich families from different lands. Each followed his natural bent
                    and specialized in different branches of study. One studied music and dancing; another
                    studied medicine; another studied astrology; and the fourth, philosophy.
                    After studying for three years they were considered proficient in their respective subject,
                    and the time came to say good-bye to their professor and return to their respective parents.
                    As a parting gift the professor gave them a cooking pot, as well as some grain, in order
                    that they would have something to cook and eat should their dry rations runs out before they
                    reached home.
                </p>

                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 content">
        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="row">
                    <div class="col col-sm-6 text-bold">
                        4. KT02 Unicode 
                    </div>
                    <div class="col col-sm-6 text-right">
                        <a href="#">Download</a>
                    </div>
                </div>

                
            </div>
            <div class="panel-body">
                <p class="kt02">

                    ရေသည်ပြဇာတ်
                    ---------
                    ဂင်္ဂါမာလပြဇာတ် (သို့) ရေသည်ပြဇာတ် သည် ကုန်းဘောင်ခေတ်နှောင်းတွင် ပေါ်ထွန်းခဲ့သော
                    စာဆိုပညာရှိ
                    စလေ ဦးပုည၏ ထင်ရှားကျော်ကြားသော ပြဇာတ် တစ်ပုဒ်ဖြစ်သည်။ ဤပြဇာတ်သည် အဋ္ဌနိပါတ် တွင်ပါရှိသော
                    ဂင်္ဂါမာလဇာတ်တော် မှထုတ်နှုတ်ရေးသားထားခြင်းလည်းဖြစ်သည်။ ငါးရာ့ငါးဆယ်ဇာတ်နိပါတ် တွင်
                    (၄၂၁)
                    ပုဒ်မြောက်ဖြစ်သည်။[၁] ကနောင်မင်းသားက မင်းတုန်းမင်းအပေါ် အထင်မြင်လွဲမှားစိတ်ကွက်မှုကို
                    နောင်တရ၍ ကျေးဇူးသိတတ်သူတစ်ဦးအဖြစ် ကနောင်မင်းသားက စာဆိုဦးပုညကို ရေးသားတင်သွင်းစေခဲ့သည်။
                    ဦးပုညရေးသော ဤပြဇာတ်မှာ ပြဇာတ်တိုတစ်ပုဒ်ဖြစ်၍ တစ်ညအတွင်းကပြဖြေဖျော်နိုင်သော
                    အမျိုးအစားလည်းဖြစ်၏ ။ မြန်မာ့ပြဇာတ်စာပေ အပေါ်တွင်အလွန်ဩဇာညောင်းကာ ထိုအထဲ၌ပါရှိသော
                    ဘာသာစကားဝေါဟာရ အသုံးအနှုန်းများသည် ပြဇာတ်စာပေတွင်သာမက အခြားမြန်မာစာပေအမျိုးအစားများ
                    အပေါ်တွင်လည်း ကောင်းစွာလွှမ်းမိုးနိုင်သည်။
                    ရေသည်ပြဇာတ်သည် ဦးပုညရေးသားသော အကောင်းဆုံးပြဇာတ်များထဲကတစ်ခုဖြစ်သည်။ စာရေးဆရာသည် ဟာသဉာဏ်၊
                    ဇဝနဉာဏ် ရွှင်သည့်အလျှောက် ၎င်းရေးသားသော ပြဇာတ်များ၌ ဖတ်သူ၊ နားထောင်သူ၊ ကြည့်ရှုသူများ
                    စိတ်နှလုံးချမ်းမြေ့စေရန် အရယ်အရွှန်းများကို ပေါင်းစပ်ထည့်လေ့ရှိသည်။ ရေသည်ပြဇာတ်၏
                    ရည်ရွယ်ချက်မှာ လောဘတရားတို့၏ ဖျက်ဆီးတတ်ခြင်းသဘော၊ ကျေးဇူးရှင်ကို
                    ကျေးဇူးသိတတ်ခြင်းသဘောများပါဝင်သည်။
                <p class="kt02">
                    Too much knowledge make up fool
                    -------------------------------
                    Once upon a time, there were four youths studying under the famous professor Disaparmauk
                    of
                    Taxila. They all came of rich families from different lands. Each followed his natural
                    bent
                    and specialized in different branches of study. One studied music and dancing; another
                    studied medicine; another studied astrology; and the fourth, philosophy.
                    After studying for three years they were considered proficient in their respective
                    subject,
                    and the time came to say good-bye to their professor and return to their respective
                    parents.
                    As a parting gift the professor gave them a cooking pot, as well as some grain, in order
                    that they would have something to cook and eat should their dry rations runs out before
                    they
                    reached home.
                </p>

                </p>
            </div>
        </div>
    </div>

</div>

<!-- ------------------------------------------------------------------------------------------------------------------------- -->